	<%include partials/_header%>
	<h2 class='title'>Login</h2>
    	<form method='POST' action='/login'>
 			<b>UserName</b> : <input name='username'>
 			<b>Password<b> : <input name='password'>
 			<button>Login</button>
 		</form>
 <%include partials/_footer%>