	<%include partials/_header%>
    	<form method='POST' action='/login'>
 			UserName : <input name='username'>
 			Password : <input name='password'>
 			<button>Login</button>
 		</form>
 	</body>
</html>