  <% include partials/_header%>
    <form method="POST" action="/register">
      Username : <input type="text" name="username">
      Password : <input type="text" name="password">
      <button type='submit'>Register</button>
    </form>
  </body>
</html>