  <% include partials/_header%>
  	<h2 class='title'>Register</h2>
    <form method="POST" action="/register">
      <b>Username :</b> <input type="text" name="username">
      <b>Password :</b> <input type="text" name="password">
      <button type='submit'>Register</button>
    </form>
 <%include partials/_footer%>