<% if(user === undefined){res.redirect('/login');}else{ %>
<% include partials/_header %>
       <form action="/urls/new" method="POST" style="margin:150px;">
       <h2 class='title' for="longURL">Enter a URL:</h2>
       <b id='urlNew'>Url: </b><input id="longURL" type="text" name="longURL" placeholder="http://">
       <button id=urlSubmit>Submit</button>
    </form>
 <%include partials/_footer%>
<%}%>