<% include partials/_header %>

<body>
 	<h2>ShortURL: <b><%= shortURL %></b></h2>
	<form method='POST' action="/urls/<%=shortURL%>">
 	<span><input name='url' type='text'><button type='submit'>update</button></span>
 	</form>
</body>
</html>